<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangxf.dao.logMapper" >
  <resultMap id="BaseResultMap" type="com.zhangxf.pojo.log" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="managerId" property="managerid" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="requestMethod" property="requestmethod" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="userTime" property="usertime" jdbcType="BIGINT" />
    <result column="exceptions" property="exceptions" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, managerId, createTime, updateTime, url, requestMethod, ip, userTime, exceptions, 
    desc, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangxf.pojo.log" >
    insert into log (id, managerId, createTime, 
      updateTime, url, requestMethod, 
      ip, userTime, exceptions, 
      desc, title)
    values (#{id,jdbcType=BIGINT}, #{managerid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, #{requestmethod,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{usertime,jdbcType=BIGINT}, #{exceptions,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangxf.pojo.log" >
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="managerid != null" >
        managerId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="requestmethod != null" >
        requestMethod,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="usertime != null" >
        userTime,
      </if>
      <if test="exceptions != null" >
        exceptions,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="managerid != null" >
        #{managerid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null" >
        #{requestmethod,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="usertime != null" >
        #{usertime,jdbcType=BIGINT},
      </if>
      <if test="exceptions != null" >
        #{exceptions,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangxf.pojo.log" >
    update log
    <set >
      <if test="managerid != null" >
        managerId = #{managerid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null" >
        requestMethod = #{requestmethod,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="usertime != null" >
        userTime = #{usertime,jdbcType=BIGINT},
      </if>
      <if test="exceptions != null" >
        exceptions = #{exceptions,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangxf.pojo.log" >
    update log
    set managerId = #{managerid,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      requestMethod = #{requestmethod,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      userTime = #{usertime,jdbcType=BIGINT},
      exceptions = #{exceptions,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>